::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(127, 127, 127, 0.6);
}

/* ::-webkit-scrollbar-button{
    background-color: rgb(110, 110, 110);
} */


::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgb(110, 110, 110);
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgb(110, 110, 110);
}

 ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(95, 91, 91, 1);
}